# Import

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Création Dataframe Final

In [2]:
colonnes = ["nb_win_team_home", "nb_win_team_away", "ranking_team_home", "ranking_team_away", "result"]

df = pd.DataFrame(columns=colonnes)

# Import fichier CSV

In [3]:
path_ranking_per_day = "data_2023_2024/ranking_per_day.csv"

df_ranking_per_day = pd.read_csv(path_ranking_per_day)

In [4]:
df_ranking_per_day.head()

  Team  Win        Date  Ranking
0  ATL    0  2023-10-24      1.0
1  BOS    0  2023-10-24      2.0
2  BRK    0  2023-10-24      3.0
3  CHO    0  2023-10-24      4.0
4  CHI    0  2023-10-24      5.0

In [5]:
path_win_per_day = "data_2023_2024/win_per_day.csv"

df_win_per_day = pd.read_csv(path_win_per_day)

In [6]:
df_win_per_day.head()

  Team  Match  Win        Date
0  LAL      0    0  2023-10-24
1  DEN      0    0  2023-10-24
2  PHO      0    0  2023-10-24
3  GSW      0    0  2023-10-24
4  ATL      0    0  2023-10-25

In [7]:
path_result = "data_2023_2024/result.csv"

df_result = pd.read_csv(path_result)

In [8]:
df_result.head()

  Away Home  Result        Date
0  LAL  DEN       0  2023-10-24
1  PHO  GSW       1  2023-10-24
2  ATL  CHO       0  2023-10-25
3  BOS  NYK       1  2023-10-25
4  CLE  BRK       1  2023-10-25

In [9]:
for match in df_result.values:
    # print(match)
    ligne_away = (df_win_per_day[df_win_per_day["Date"] == match[3]][df_win_per_day["Team"] == match[0]]).values[0]
    ligne_home = (df_win_per_day[df_win_per_day["Date"] == match[3]][df_win_per_day["Team"] == match[1]]).values[0]

    ranking_away = (df_ranking_per_day[df_ranking_per_day["Date"] == match[3]][df_ranking_per_day["Team"] == match[0]]).values[0]
    ranking_home = (df_ranking_per_day[df_ranking_per_day["Date"] == match[3]][df_ranking_per_day["Team"] == match[1]]).values[0]

    # print(ligne_away)
    # print(ligne_home)

    df.loc[len(df)] = [ligne_home[2], ligne_away[2], ranking_home[3], ranking_away[3], match[0]]

# Vérification

In [10]:
df.head(10)

,nb_win_team_home,nb_win_team_away,ranking_team_home,ranking_team_home,result
0,0,0,8.0,14.0,LAL
1,0,0,10.0,24.0,PHO
2,0,0,4.0,1.0,ATL
3,0,0,20.0,2.0,BOS
4,0,0,3.0,6.0,CLE
5,0,0,27.0,7.0,DAL
6,0,0,16.0,9.0,DET
7,0,0,22.0,11.0,HOU
8,0,0,28.0,18.0,MIN
9,0,0,15.0,19.0,NOP

In [11]:
ligne_au_hasard = df.sample()
print(ligne_au_hasard)

     nb_win_team_home  nb_win_team_away  ranking_team_home  ranking_team_home  \
941                34                41               17.0                5.0

    result
941    MIL

In [12]:
path_save = "data_2023_2024/data.csv"

df.to_csv(path_save, index=False)