# Import

In [1]:
import pandas as pd
import os 
import re
from datetime import datetime

# Création

In [2]:
colonnes = ["Away", "Home", "Result", "Date"]

df_result = pd.DataFrame(columns=colonnes)

In [3]:
df_result.head()

Empty DataFrame
Columns: [Away, Home, Result, Date]
Index: []

In [4]:
dossier_box_score = "data_2023_2024/box_score_regular_season"

for dir in os.listdir(dossier_box_score):
    match = re.match(r'box_sore_(\d{8})', dir)

    if match:
        date_str = match.group(1) 
    
        # Extraire l'année, le mois et le jour
        year = int(date_str[:4])
        month = int(date_str[4:6])
        day = int(date_str[6:8])

    else:
        print("Le format de la variable ne correspond pas aux attentes.")

    match_dir = os.path.join(dossier_box_score, dir)
    for info in os.listdir(match_dir):
        if info == "df_line_score.csv":

            line_score_path = os.path.join(match_dir, info)
            df_line_score = pd.read_csv(line_score_path)

            team_1, team_2 = df_line_score["Team"].tolist()
            result = df_line_score["Total"].tolist()
            
            result_match = int(result[0] > result[1])

            df_result.loc[len(df_result)] = [team_1, team_2, result_match, datetime(year, month, day)]

In [5]:
df_result.head()

  Away Home  Result       Date
0  LAL  DEN       0 2023-10-24
1  PHO  GSW       1 2023-10-24
2  ATL  CHO       0 2023-10-25
3  BOS  NYK       1 2023-10-25
4  CLE  BRK       1 2023-10-25

In [6]:
path_to_save = "data_2023_2024/result.csv"

df_result.to_csv(path_to_save, index=False)