# Import

In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
import re
import warnings
warnings.filterwarnings('ignore')

# Cr√©ation Classement

In [2]:
data = {
    'Team': [
        "ATL", "BOS", "BRK", "CHO", "CHI", "CLE", "DAL", "DEN", "DET", "GSW", "HOU", "IND", "LAC", "LAL", "MEM", 
        "MIA", "MIL", "MIN", "NOP", "NYK", "OKC", "ORL", "PHI", "PHO", "POR", "SAC", "SAS", "TOR", "UTA", "WAS"
    ],
    'Win': [0 for _ in range(30)],
    'Date':[datetime(2023,10,24).date() for _ in range(30)]
}

list_df_classement = [pd.DataFrame(data)]

In [3]:
list_df_classement[0].head(50)

   Team  Win        Date
0   ATL    0  2023-10-24
1   BOS    0  2023-10-24
2   BRK    0  2023-10-24
3   CHO    0  2023-10-24
4   CHI    0  2023-10-24
5   CLE    0  2023-10-24
6   DAL    0  2023-10-24
7   DEN    0  2023-10-24
8   DET    0  2023-10-24
9   GSW    0  2023-10-24
10  HOU    0  2023-10-24
11  IND    0  2023-10-24
12  LAC    0  2023-10-24
13  LAL    0  2023-10-24
14  MEM    0  2023-10-24
15  MIA    0  2023-10-24
16  MIL    0  2023-10-24
17  MIN    0  2023-10-24
18  NOP    0  2023-10-24
19  NYK    0  2023-10-24
20  OKC    0  2023-10-24
21  ORL    0  2023-10-24
22  PHI    0  2023-10-24
23  PHO    0  2023-10-24
24  POR    0  2023-10-24
25  SAC    0  2023-10-24
26  SAS    0  2023-10-24
27  TOR    0  2023-10-24
28  UTA    0  2023-10-24
29  WAS    0  2023-10-24

# Import Win Per Day

In [4]:
win_per_day_path = "data_2023_2024/win_per_day.csv"

df_win_per_day = pd.read_csv(win_per_day_path)

In [5]:
df_win_per_day.head()

  Team  Match  Win        Date
0  LAL      0    0  2023-10-24
1  DEN      0    0  2023-10-24
2  PHO      0    0  2023-10-24
3  GSW      0    0  2023-10-24
4  ATL      0    0  2023-10-25

In [6]:
grouped = df_win_per_day.groupby('Date')

for date, group in grouped:
    if date != "2023-10-24":

        new_df_classement = list_df_classement[-1].copy()

        new_df_classement["Date"]  = date

        for index, row in group.iterrows():
            # print(f"Ligne {index}:")
            # print(row["Team"])
            new_df_classement.loc[new_df_classement["Team"] == row["Team"], 'Win'] = row["Win"]
            # print()

        list_df_classement.append(new_df_classement)

        # print(f"Date: {date}")
        # print(group)
        # print()

In [7]:
for df in list_df_classement:
    df['Ranking'] = df['Win'].rank(ascending=False, method='first')
    print(df.head())

  Team  Win        Date  Ranking
0  ATL    0  2023-10-24      1.0
1  BOS    0  2023-10-24      2.0
2  BRK    0  2023-10-24      3.0
3  CHO    0  2023-10-24      4.0
4  CHI    0  2023-10-24      5.0
  Team  Win        Date  Ranking
0  ATL    0  2023-10-25      1.0
1  BOS    0  2023-10-25      2.0
2  BRK    0  2023-10-25      3.0
3  CHO    0  2023-10-25      4.0
4  CHI    0  2023-10-25      5.0
  Team  Win        Date  Ranking
0  ATL    0  2023-10-26      2.0
1  BOS    0  2023-10-26      3.0
2  BRK    0  2023-10-26      4.0
3  CHO    0  2023-10-26      5.0
4  CHI    0  2023-10-26      6.0
  Team  Win        Date  Ranking
0  ATL    0  2023-10-27     13.0
1  BOS    1  2023-10-27      1.0
2  BRK    0  2023-10-27     14.0
3  CHO    1  2023-10-27      2.0
4  CHI    0  2023-10-27     15.0
  Team  Win        Date  Ranking
0  ATL    0  2023-10-28     19.0
1  BOS    1  2023-10-28      1.0
2  BRK    0  2023-10-28     20.0
3  CHO    1  2023-10-28      2.0
4  CHI    1  2023-10-28      3.0
  Team  Win        Date  Ranking
0  ATL    0  2023-10-29     24.0
1  BOS    1  2023-10-29      3.0
2  BRK    0  2023-10-29     25.0
3  CHO    1  2023-10-29      4.0
4  CHI    1  2023-10-29      5.0
  Team  Win        Date  Ranking
0  ATL    1  2023-10-30     10.0
1  BOS    2  2023-10-30      2.0
2  BRK    0  2023-10-30     27.0
3  CHO    1  2023-10-30     11.0
4  CHI    1  2023-10-30     12.0
  Team  Win        Date  Ranking
0  ATL    1  2023-10-31     12.0
1  BOS    2  2023-10-31      2.0
2  BRK    0  2023-10-31     27.0
3  CHO    1  2023-10-31     13.0
4  CHI    1  2023-10-31     14.0
  Team  Win        Date  Ranking
0  ATL    2  2023-11-01      7.0
1  BOS    3  2023-11-01      2.0
2  BRK    1  2023-11-01     18.0
3  CHO    1  2023-11-01     19.0
4  CHI    2  2023-11-01      8.0
  Team  Win        Date  Ranking
0  ATL    2  2023-11-02      8.0
1  BOS    3  2023-11-02      2.0
2  BRK    1  2023-11-02     22.0
3  CHO    1  2023-11-02     23.0
4  CHI    2  2023-11-02      9.0
  Team  Win        Date  Ranking
0  ATL    2  2023-11-03      8.0
1  BOS    3  2023-11-03      4.0
2  BRK    2  2023-11-03      9.0
3  CHO    1  2023-11-03     25.0
4  CHI    2  2023-11-03     10.0
  Team  Win        Date  Ranking
0  ATL    3  2023-11-04      6.0
1  BOS    4  2023-11-04      2.0
2  BRK    3  2023-11-04      7.0
3  CHO    1  2023-11-04     26.0
4  CHI    2  2023-11-04     14.0
  Team  Win        Date  Ranking
0  ATL    3  2023-11-05      6.0
1  BOS    4  2023-11-05      3.0
2  BRK    3  2023-11-05      7.0
3  CHO    2  2023-11-05     16.0
4  CHI    2  2023-11-05     17.0
  Team  Win        Date  Ranking
0  ATL    4  2023-11-06      5.0
1  BOS    5  2023-11-06      2.0
2  BRK    3  2023-11-06      9.0
3  CHO    2  2023-11-06     18.0
4  CHI    2  2023-11-06     19.0
  Team  Win        Date  Ranking
0  ATL    4  2023-11-08      6.0
1  BOS    5  2023-11-08      4.0
2  BRK    3  2023-11-08     13.0
3  CHO    2  2023-11-08     25.0
4  CHI    3  2023-11-08     14.0
  Team  Win        Date  Ranking
0  ATL    4  2023-11-09      8.0
1  BOS    5  2023-11-09      4.0
2  BRK    3  2023-11-09     13.0
3  CHO    2  2023-11-09     25.0
4  CHI    3  2023-11-09     14.0
  Team  Win        Date  Ranking
0  ATL    4  2023-11-10     10.0
1  BOS    5  2023-11-10      5.0
2  BRK    4  2023-11-10     11.0
3  CHO    2  2023-11-10     26.0
4  CHI    3  2023-11-10     16.0
  Team  Win        Date  Ranking
0  ATL    5  2023-11-11      6.0
1  BOS    6  2023-11-11      2.0
2  BRK    4  2023-11-11     11.0
3  CHO    2  2023-11-11     26.0
4  CHI    3  2023-11-11     18.0
  Team  Win        Date  Ranking
0  ATL    5  2023-11-12      8.0
1  BOS    6  2023-11-12      4.0
2  BRK    4  2023-11-12     13.0
3  CHO    3  2023-11-12     20.0
4  CHI    3  2023-11-12     21.0
  Team  Win        Date  Ranking
0  ATL    5  2023-11-13      8.0
1  BOS    7  2023-11-13      2.0
2  BRK    4  2023-11-13     14.0
3  CHO    3  2023-11-13     23.0
4  CHI    4  2023-11-13     15.0
  Team  Win        Date  Ranking
0  ATL    5  2023-11-14     10.0
1  BOS    7  2023-11-14      4.0
2  BRK    5  2023-11-14     11.0
3  CHO    3  2023-11-14     23.0
4  CHI    4  2023-11-14     17.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-15      6.0
1  BOS    8  2023-11-15      1.0
2  BRK    5  2023-11-15     13.0
3  CHO    3  2023-11-15     23.0
4  CHI    4  2023-11-15     19.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-16      8.0
1  BOS    8  2023-11-16      1.0
2  BRK    6  2023-11-16      9.0
3  CHO    3  2023-11-16     23.0
4  CHI    4  2023-11-16     19.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-17      9.0
1  BOS    9  2023-11-17      1.0
2  BRK    6  2023-11-17     10.0
3  CHO    3  2023-11-17     24.0
4  CHI    4  2023-11-17     22.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-18     10.0
1  BOS    9  2023-11-18      1.0
2  BRK    6  2023-11-18     11.0
3  CHO    3  2023-11-18     24.0
4  CHI    4  2023-11-18     22.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-19     14.0
1  BOS   10  2023-11-19      1.0
2  BRK    6  2023-11-19     15.0
3  CHO    3  2023-11-19     24.0
4  CHI    4  2023-11-19     22.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-20     14.0
1  BOS   11  2023-11-20      1.0
2  BRK    6  2023-11-20     15.0
3  CHO    3  2023-11-20     25.0
4  CHI    5  2023-11-20     21.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-21     16.0
1  BOS   11  2023-11-21      1.0
2  BRK    6  2023-11-21     17.0
3  CHO    3  2023-11-21     25.0
4  CHI    5  2023-11-21     22.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-22     18.0
1  BOS   11  2023-11-22      1.0
2  BRK    6  2023-11-22     19.0
3  CHO    4  2023-11-22     24.0
4  CHI    5  2023-11-22     22.0
  Team  Win        Date  Ranking
0  ATL    6  2023-11-24     20.0
1  BOS   12  2023-11-24      1.0
2  BRK    6  2023-11-24     21.0
3  CHO    4  2023-11-24     24.0
4  CHI    5  2023-11-24     23.0
  Team  Win        Date  Ranking
0  ATL    7  2023-11-25     17.0
1  BOS   12  2023-11-25      1.0
2  BRK    6  2023-11-25     21.0
3  CHO    4  2023-11-25     24.0
4  CHI    5  2023-11-25     23.0
  Team  Win        Date  Ranking
0  ATL    8  2023-11-26     14.0
1  BOS   12  2023-11-26      1.0
2  BRK    7  2023-11-26     19.0
3  CHO    5  2023-11-26     23.0
4  CHI    5  2023-11-26     24.0
  Team  Win        Date  Ranking
0  ATL    8  2023-11-27     15.0
1  BOS   12  2023-11-27      1.0
2  BRK    7  2023-11-27     19.0
3  CHO    5  2023-11-27     23.0
4  CHI    5  2023-11-27     24.0
  Team  Win        Date  Ranking
0  ATL    8  2023-11-28     17.0
1  BOS   13  2023-11-28      1.0
2  BRK    8  2023-11-28     18.0
3  CHO    5  2023-11-28     23.0
4  CHI    5  2023-11-28     24.0
  Team  Win        Date  Ranking
0  ATL    8  2023-11-29     17.0
1  BOS   13  2023-11-29      1.0
2  BRK    8  2023-11-29     18.0
3  CHO    5  2023-11-29     24.0
4  CHI    5  2023-11-29     25.0
  Team  Win        Date  Ranking
0  ATL    8  2023-11-30     18.0
1  BOS   13  2023-11-30      1.0
2  BRK    9  2023-11-30     15.0
3  CHO    5  2023-11-30     24.0
4  CHI    5  2023-11-30     25.0
  Team  Win        Date  Ranking
0  ATL    8  2023-12-01     19.0
1  BOS   14  2023-12-01      1.0
2  BRK    9  2023-12-01     16.0
3  CHO    5  2023-12-01     24.0
4  CHI    5  2023-12-01     25.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-02     16.0
1  BOS   14  2023-12-02      1.0
2  BRK    9  2023-12-02     17.0
3  CHO    6  2023-12-02     23.0
4  CHI    6  2023-12-02     24.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-04     17.0
1  BOS   15  2023-12-04      1.0
2  BRK    9  2023-12-04     18.0
3  CHO    6  2023-12-04     23.0
4  CHI    6  2023-12-04     24.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-05     17.0
1  BOS   15  2023-12-05      1.0
2  BRK    9  2023-12-05     18.0
3  CHO    6  2023-12-05     23.0
4  CHI    6  2023-12-05     24.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-06     18.0
1  BOS   15  2023-12-06      1.0
2  BRK   10  2023-12-06     16.0
3  CHO    6  2023-12-06     25.0
4  CHI    7  2023-12-06     23.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-07     18.0
1  BOS   15  2023-12-07      1.0
2  BRK   10  2023-12-07     17.0
3  CHO    6  2023-12-07     25.0
4  CHI    7  2023-12-07     23.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-08     20.0
1  BOS   15  2023-12-08      2.0
2  BRK   11  2023-12-08     15.0
3  CHO    6  2023-12-08     25.0
4  CHI    8  2023-12-08     23.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-11     21.0
1  BOS   15  2023-12-11      2.0
2  BRK   12  2023-12-11     11.0
3  CHO    7  2023-12-11     24.0
4  CHI    9  2023-12-11     22.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-12     21.0
1  BOS   16  2023-12-12      2.0
2  BRK   12  2023-12-12     12.0
3  CHO    7  2023-12-12     24.0
4  CHI    9  2023-12-12     22.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-13     21.0
1  BOS   16  2023-12-13      2.0
2  BRK   12  2023-12-13     17.0
3  CHO    7  2023-12-13     24.0
4  CHI    9  2023-12-13     22.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-14     21.0
1  BOS   17  2023-12-14      1.0
2  BRK   13  2023-12-14     11.0
3  CHO    7  2023-12-14     25.0
4  CHI    9  2023-12-14     22.0
  Team  Win        Date  Ranking
0  ATL    9  2023-12-15     22.0
1  BOS   18  2023-12-15      1.0
2  BRK   13  2023-12-15     12.0
3  CHO    7  2023-12-15     25.0
4  CHI    9  2023-12-15     23.0
  Team  Win        Date  Ranking
0  ATL   10  2023-12-16     20.0
1  BOS   18  2023-12-16      1.0
2  BRK   13  2023-12-16     15.0
3  CHO    7  2023-12-16     25.0
4  CHI   10  2023-12-16     21.0
  Team  Win        Date  Ranking
0  ATL   10  2023-12-17     21.0
1  BOS   19  2023-12-17      1.0
2  BRK   13  2023-12-17     15.0
3  CHO    7  2023-12-17     25.0
4  CHI   10  2023-12-17     22.0
  Team  Win        Date  Ranking
0  ATL   10  2023-12-18     21.0
1  BOS   19  2023-12-18      1.0
2  BRK   13  2023-12-18     16.0
3  CHO    7  2023-12-18     25.0
4  CHI   10  2023-12-18     22.0
  Team  Win        Date  Ranking
0  ATL   10  2023-12-19     21.0
1  BOS   20  2023-12-19      1.0
2  BRK   13  2023-12-19     17.0
3  CHO    7  2023-12-19     25.0
4  CHI   10  2023-12-19     22.0
  Team  Win        Date  Ranking
0  ATL   11  2023-12-20     21.0
1  BOS   20  2023-12-20      1.0
2  BRK   13  2023-12-20     17.0
3  CHO    7  2023-12-20     25.0
4  CHI   11  2023-12-20     22.0
  Team  Win        Date  Ranking
0  ATL   11  2023-12-21     22.0
1  BOS   20  2023-12-21      1.0
2  BRK   13  2023-12-21     18.0
3  CHO    7  2023-12-21     25.0
4  CHI   12  2023-12-21     20.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-22     21.0
1  BOS   20  2023-12-22      1.0
2  BRK   13  2023-12-22     18.0
3  CHO    7  2023-12-22     25.0
4  CHI   12  2023-12-22     22.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-23     22.0
1  BOS   21  2023-12-23      1.0
2  BRK   13  2023-12-23     20.0
3  CHO    7  2023-12-23     26.0
4  CHI   13  2023-12-23     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-25     22.0
1  BOS   22  2023-12-25      1.0
2  BRK   13  2023-12-25     20.0
3  CHO    7  2023-12-25     26.0
4  CHI   13  2023-12-25     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-26     22.0
1  BOS   22  2023-12-26      1.0
2  BRK   14  2023-12-26     18.0
3  CHO    7  2023-12-26     26.0
4  CHI   13  2023-12-26     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-27     22.0
1  BOS   22  2023-12-27      1.0
2  BRK   15  2023-12-27     16.0
3  CHO    7  2023-12-27     26.0
4  CHI   13  2023-12-27     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-28     23.0
1  BOS   23  2023-12-28      1.0
2  BRK   15  2023-12-28     16.0
3  CHO    7  2023-12-28     27.0
4  CHI   14  2023-12-28     20.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-29     23.0
1  BOS   24  2023-12-29      1.0
2  BRK   15  2023-12-29     16.0
3  CHO    7  2023-12-29     27.0
4  CHI   14  2023-12-29     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-30     23.0
1  BOS   24  2023-12-30      1.0
2  BRK   15  2023-12-30     17.0
3  CHO    7  2023-12-30     27.0
4  CHI   14  2023-12-30     21.0
  Team  Win        Date  Ranking
0  ATL   12  2023-12-31     23.0
1  BOS   25  2023-12-31      1.0
2  BRK   15  2023-12-31     18.0
3  CHO    7  2023-12-31     27.0
4  CHI   14  2023-12-31     21.0
  Team  Win        Date  Ranking
0  ATL   12  2024-01-01     23.0
1  BOS   25  2024-01-01      1.0
2  BRK   15  2024-01-01     18.0
3  CHO    7  2024-01-01     27.0
4  CHI   14  2024-01-01     21.0
  Team  Win        Date  Ranking
0  ATL   12  2024-01-02     23.0
1  BOS   26  2024-01-02      1.0
2  BRK   15  2024-01-02     18.0
3  CHO    7  2024-01-02     27.0
4  CHI   15  2024-01-02     19.0
  Team  Win        Date  Ranking
0  ATL   13  2024-01-03     23.0
1  BOS   26  2024-01-03      1.0
2  BRK   15  2024-01-03     19.0
3  CHO    7  2024-01-03     27.0
4  CHI   15  2024-01-03     20.0
  Team  Win        Date  Ranking
0  ATL   13  2024-01-04     23.0
1  BOS   26  2024-01-04      1.0
2  BRK   15  2024-01-04     20.0
3  CHO    7  2024-01-04     27.0
4  CHI   15  2024-01-04     21.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-05     23.0
1  BOS   26  2024-01-05      1.0
2  BRK   15  2024-01-05     21.0
3  CHO    8  2024-01-05     27.0
4  CHI   15  2024-01-05     22.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-06     23.0
1  BOS   27  2024-01-06      1.0
2  BRK   15  2024-01-06     21.0
3  CHO    8  2024-01-06     27.0
4  CHI   15  2024-01-06     22.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-07     23.0
1  BOS   27  2024-01-07      1.0
2  BRK   16  2024-01-07     20.0
3  CHO    8  2024-01-07     27.0
4  CHI   15  2024-01-07     22.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-08     23.0
1  BOS   28  2024-01-08      1.0
2  BRK   16  2024-01-08     21.0
3  CHO    8  2024-01-08     27.0
4  CHI   16  2024-01-08     22.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-09     24.0
1  BOS   28  2024-01-09      1.0
2  BRK   16  2024-01-09     21.0
3  CHO    8  2024-01-09     27.0
4  CHI   16  2024-01-09     22.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-10     24.0
1  BOS   28  2024-01-10      1.0
2  BRK   16  2024-01-10     22.0
3  CHO    8  2024-01-10     27.0
4  CHI   17  2024-01-10     20.0
  Team  Win        Date  Ranking
0  ATL   14  2024-01-11     24.0
1  BOS   29  2024-01-11      1.0
2  BRK   16  2024-01-11     22.0
3  CHO    8  2024-01-11     27.0
4  CHI   17  2024-01-11     20.0
  Team  Win        Date  Ranking
0  ATL   15  2024-01-12     23.0
1  BOS   29  2024-01-12      1.0
2  BRK   16  2024-01-12     22.0
3  CHO    8  2024-01-12     27.0
4  CHI   18  2024-01-12     19.0
  Team  Win        Date  Ranking
0  ATL   15  2024-01-13     23.0
1  BOS   29  2024-01-13      1.0
2  BRK   16  2024-01-13     22.0
3  CHO    8  2024-01-13     27.0
4  CHI   18  2024-01-13     20.0
  Team  Win        Date  Ranking
0  ATL   15  2024-01-14     23.0
1  BOS   29  2024-01-14      1.0
2  BRK   16  2024-01-14     22.0
3  CHO    8  2024-01-14     27.0
4  CHI   18  2024-01-14     20.0
  Team  Win        Date  Ranking
0  ATL   15  2024-01-15     23.0
1  BOS   30  2024-01-15      1.0
2  BRK   16  2024-01-15     22.0
3  CHO    8  2024-01-15     27.0
4  CHI   19  2024-01-15     18.0
  Team  Win        Date  Ranking
0  ATL   15  2024-01-16     23.0
1  BOS   30  2024-01-16      1.0
2  BRK   16  2024-01-16     22.0
3  CHO    8  2024-01-16     27.0
4  CHI   19  2024-01-16     18.0
  Team  Win        Date  Ranking
0  ATL   16  2024-01-17     22.0
1  BOS   31  2024-01-17      1.0
2  BRK   16  2024-01-17     23.0
3  CHO    8  2024-01-17     27.0
4  CHI   19  2024-01-17     19.0
  Team  Win        Date  Ranking
0  ATL   16  2024-01-18     22.0
1  BOS   31  2024-01-18      1.0
2  BRK   16  2024-01-18     23.0
3  CHO    8  2024-01-18     27.0
4  CHI   19  2024-01-18     19.0
  Team  Win        Date  Ranking
0  ATL   17  2024-01-19     22.0
1  BOS   32  2024-01-19      1.0
2  BRK   16  2024-01-19     23.0
3  CHO    8  2024-01-19     27.0
4  CHI   19  2024-01-19     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-20     21.0
1  BOS   32  2024-01-20      1.0
2  BRK   16  2024-01-20     23.0
3  CHO    9  2024-01-20     27.0
4  CHI   20  2024-01-20     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-21     21.0
1  BOS   32  2024-01-21      1.0
2  BRK   17  2024-01-21     23.0
3  CHO    9  2024-01-21     27.0
4  CHI   20  2024-01-21     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-22     21.0
1  BOS   33  2024-01-22      1.0
2  BRK   17  2024-01-22     23.0
3  CHO    9  2024-01-22     27.0
4  CHI   21  2024-01-22     18.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-23     21.0
1  BOS   33  2024-01-23      1.0
2  BRK   17  2024-01-23     23.0
3  CHO    9  2024-01-23     27.0
4  CHI   21  2024-01-23     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-24     21.0
1  BOS   33  2024-01-24      1.0
2  BRK   17  2024-01-24     23.0
3  CHO   10  2024-01-24     27.0
4  CHI   21  2024-01-24     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-25     22.0
1  BOS   34  2024-01-25      1.0
2  BRK   17  2024-01-25     23.0
3  CHO   10  2024-01-25     27.0
4  CHI   21  2024-01-25     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-26     22.0
1  BOS   34  2024-01-26      1.0
2  BRK   17  2024-01-26     23.0
3  CHO   10  2024-01-26     27.0
4  CHI   21  2024-01-26     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-27     22.0
1  BOS   35  2024-01-27      1.0
2  BRK   17  2024-01-27     23.0
3  CHO   10  2024-01-27     27.0
4  CHI   21  2024-01-27     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-28     22.0
1  BOS   35  2024-01-28      1.0
2  BRK   17  2024-01-28     24.0
3  CHO   10  2024-01-28     27.0
4  CHI   21  2024-01-28     19.0
  Team  Win        Date  Ranking
0  ATL   18  2024-01-29     22.0
1  BOS   35  2024-01-29      1.0
2  BRK   18  2024-01-29     23.0
3  CHO   10  2024-01-29     27.0
4  CHI   21  2024-01-29     19.0
  Team  Win        Date  Ranking
0  ATL   19  2024-01-30     21.0
1  BOS   36  2024-01-30      1.0
2  BRK   18  2024-01-30     23.0
3  CHO   10  2024-01-30     27.0
4  CHI   22  2024-01-30     19.0
  Team  Win        Date  Ranking
0  ATL   19  2024-01-31     21.0
1  BOS   36  2024-01-31      1.0
2  BRK   19  2024-01-31     22.0
3  CHO   10  2024-01-31     27.0
4  CHI   22  2024-01-31     19.0
  Team  Win        Date  Ranking
0  ATL   19  2024-02-01     21.0
1  BOS   37  2024-02-01      1.0
2  BRK   19  2024-02-01     22.0
3  CHO   10  2024-02-01     27.0
4  CHI   22  2024-02-01     19.0
  Team  Win        Date  Ranking
0  ATL   20  2024-02-02     21.0
1  BOS   37  2024-02-02      1.0
2  BRK   19  2024-02-02     23.0
3  CHO   10  2024-02-02     27.0
4  CHI   22  2024-02-02     19.0
  Team  Win        Date  Ranking
0  ATL   21  2024-02-03     21.0
1  BOS   37  2024-02-03      1.0
2  BRK   19  2024-02-03     23.0
3  CHO   10  2024-02-03     27.0
4  CHI   23  2024-02-03     19.0
  Team  Win        Date  Ranking
0  ATL   21  2024-02-04     21.0
1  BOS   37  2024-02-04      1.0
2  BRK   19  2024-02-04     23.0
3  CHO   10  2024-02-04     27.0
4  CHI   23  2024-02-04     19.0
  Team  Win        Date  Ranking
0  ATL   22  2024-02-05     21.0
1  BOS   37  2024-02-05      1.0
2  BRK   20  2024-02-05     23.0
3  CHO   10  2024-02-05     27.0
4  CHI   23  2024-02-05     19.0
  Team  Win        Date  Ranking
0  ATL   22  2024-02-06     21.0
1  BOS   37  2024-02-06      1.0
2  BRK   20  2024-02-06     23.0
3  CHO   10  2024-02-06     27.0
4  CHI   23  2024-02-06     19.0
  Team  Win        Date  Ranking
0  ATL   22  2024-02-07     21.0
1  BOS   38  2024-02-07      1.0
2  BRK   20  2024-02-07     23.0
3  CHO   10  2024-02-07     27.0
4  CHI   23  2024-02-07     19.0

In [8]:
list_df_classement[-1].sort_values("Win", ascending=False)

   Team  Win        Date  Ranking
1   BOS   63  2024-04-14      1.0
17  MIN   56  2024-04-14      3.0
7   DEN   56  2024-04-14      2.0
20  OKC   56  2024-04-14      4.0
12  LAC   51  2024-04-14      5.0
6   DAL   50  2024-04-14      6.0
19  NYK   49  2024-04-14      9.0
18  NOP   49  2024-04-14      8.0
16  MIL   49  2024-04-14      7.0
23  PHO   48  2024-04-14     11.0
5   CLE   48  2024-04-14     10.0
22  PHI   46  2024-04-14     15.0
11  IND   46  2024-04-14     12.0
13  LAL   46  2024-04-14     13.0
21  ORL   46  2024-04-14     14.0
15  MIA   45  2024-04-14     17.0
9   GSW   45  2024-04-14     16.0
25  SAC   45  2024-04-14     18.0
10  HOU   40  2024-04-14     19.0
4   CHI   39  2024-04-14     20.0
0   ATL   36  2024-04-14     21.0
2   BRK   32  2024-04-14     22.0
28  UTA   31  2024-04-14     23.0
14  MEM   27  2024-04-14     24.0
27  TOR   25  2024-04-14     25.0
24  POR   21  2024-04-14     26.0
26  SAS   21  2024-04-14     27.0
3   CHO   20  2024-04-14     28.0
29  WAS   15  2024-04-14     29.0
8   DET   14  2024-04-14     30.0

# Sauvegarde Dataframe

In [9]:
df_ranking_per_day = pd.concat(list_df_classement, ignore_index=True)

In [10]:
df_ranking_per_day.head()

  Team  Win        Date  Ranking
0  ATL    0  2023-10-24      1.0
1  BOS    0  2023-10-24      2.0
2  BRK    0  2023-10-24      3.0
3  CHO    0  2023-10-24      4.0
4  CHI    0  2023-10-24      5.0

In [12]:
save_path = "data_2023_2024/ranking_per_day.csv"

df_ranking_per_day.to_csv(save_path, index=False)