# Import

In [31]:
import pandas as pd
from datetime import datetime

# Concaténation des CSV

In [38]:
mouths = ['oct', 'nov', 'dec', 'jan', 'feb', 'mar', 'apr', 'may', 'jun']

df = pd.DataFrame()

for mouth in mouths:

    path_file = f"data_2023_2024/date_team_result/date_teams_result_match_{mouth}_23_24.csv"

    df_mouth = pd.read_csv(path_file)

    df = pd.concat([df, df_mouth])

In [39]:
df.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,LOG,Arena,Notes
0,Tue Oct 24 2023,7:30p,Los Angeles Lakers,107,Denver Nuggets,119,Box Score,NaN,19842.0,2:17,Ball Arena,NaN
1,Tue Oct 24 2023,10:00p,Phoenix Suns,108,Golden State Warriors,104,Box Score,NaN,18064.0,2:33,Chase Center,NaN
2,Wed Oct 25 2023,7:00p,Houston Rockets,86,Orlando Magic,116,Box Score,NaN,18846.0,2:14,Kia Center,NaN
3,Wed Oct 25 2023,7:00p,Boston Celtics,108,New York Knicks,104,Box Score,NaN,19812.0,2:39,Madison Square Garden (IV),NaN
4,Wed Oct 25 2023,7:00p,Washington Wizards,120,Indiana Pacers,143,Box Score,NaN,16004.0,2:07,Gainbridge Fieldhouse,NaN

In [42]:
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(1319, 12)
(1319, 12)

In [25]:
df.to_csv("data_2023_2024/date_team_result/date_teams_result_match_23_24.csv")

# Vérification validité CSV

In [75]:
path_file = "data_2023_2024/date_team_result/date_teams_result_match_23_24.csv"

df = pd.read_csv(path_file)

In [ ]:
teams = []

for table in soup.find_all('div', class_='table_container'):
    for tbody in table.find_all('tbody'):
        for row in tbody:
            if row != "\n":
                teams_info = []
                for col in row:
                    if col != "\n":
                        teams_info.append(col.text.strip())
                teams.append(teams_info)
            # print(row)
            # team_info = ' '.join(col.text.strip() for col in row)
            # teams.append(team_info)
            # print(team_info)

print(teams)

[['Denver Nuggets*', '1', '0', '1.000', '—', '119.0', '107.0'], ['Phoenix Suns*', '1', '0', '1.000', '—', '108.0', '104.0'], ['Los Angeles Lakers*', '0', '1', '.000', '1.0', '107.0', '119.0'], ['Golden State Warriors', '0', '1', '.000', '1.0', '104.0', '108.0']]

In [76]:
# Convertir la colonne de dates en datetime
df['Date'] = pd.to_datetime(df['Date'], format='%a %b %d %Y')

In [77]:
df.head()

,Unnamed: 0,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,LOG,Arena,Notes
0,0,2023-10-24,7:30p,Los Angeles Lakers,107,Denver Nuggets,119,Box Score,NaN,19842.0,2:17,Ball Arena,NaN
1,1,2023-10-24,10:00p,Phoenix Suns,108,Golden State Warriors,104,Box Score,NaN,18064.0,2:33,Chase Center,NaN
2,2,2023-10-25,7:00p,Houston Rockets,86,Orlando Magic,116,Box Score,NaN,18846.0,2:14,Kia Center,NaN
3,3,2023-10-25,7:00p,Boston Celtics,108,New York Knicks,104,Box Score,NaN,19812.0,2:39,Madison Square Garden (IV),NaN
4,4,2023-10-25,7:00p,Washington Wizards,120,Indiana Pacers,143,Box Score,NaN,16004.0,2:07,Gainbridge Fieldhouse,NaN

In [78]:
# Définir la date limite de la saison régulière
date_end_regular_season = datetime(2024, 4, 16)

# Compter le nombre de lignes avec une date avant la date limite
nombre_de_lignes_avant_date_limite = len(df[df['Date'] < date_end_regular_season])

print(f'Nombre de matchs de saison regulière: {nombre_de_lignes_avant_date_limite}')

Nombre de matchs de saison regulière: 1231

Il y a 1 match de plus car c'est la final du In-Season Tournement

In [79]:
nombre_de_matchs_play_in_game = len(df[df['Notes'] == "Play-In Game"])

print(f'Nombre de matchs de Play-In Game: {nombre_de_matchs_play_in_game}')

Nombre de matchs de Play-In Game: 6

In [80]:
# Définir la date limite de la saison régulière
date_start_playoff = datetime(2024, 4, 20)

# Compter le nombre de lignes avec une date avant la date limite
nombre_de_matchs_playoff = len(df[df['Date'] >= date_start_playoff])

print(f'Nombre de matchs de playoff : {nombre_de_matchs_playoff}')

Nombre de matchs de playoff : 82

In [83]:
date_end_regular_season = datetime(2024, 4, 16)

# Nombre de matchs par équipes
df_regular_season = df[df['Date'] < date_end_regular_season]

all_teams = pd.concat([df_regular_season['Visitor/Neutral'], df_regular_season['Home/Neutral']])

# Compter les occurrences de chaque équipe
team_counts = all_teams.value_counts()

print(team_counts)
print(len(team_counts))

Los Angeles Lakers        83
Indiana Pacers            83
Phoenix Suns              82
Milwaukee Bucks           82
San Antonio Spurs         82
Utah Jazz                 82
Memphis Grizzlies         82
Chicago Bulls             82
Golden State Warriors     82
Orlando Magic             82
Los Angeles Clippers      82
Brooklyn Nets             82
Toronto Raptors           82
Miami Heat                82
New York Knicks           82
Denver Nuggets            82
Philadelphia 76ers        82
Portland Trail Blazers    82
Dallas Mavericks          82
Sacramento Kings          82
Oklahoma City Thunder     82
New Orleans Pelicans      82
Cleveland Cavaliers       82
Minnesota Timberwolves    82
Detroit Pistons           82
Atlanta Hawks             82
Washington Wizards        82
Boston Celtics            82
Houston Rockets           82
Charlotte Hornets         82
Name: count, dtype: int64
30

In [82]:
# Affiche tous les matchs entre les Lakers et les Pacers
# Nom des équipes à filtrer
equipe1 = 'Los Angeles Lakers'
equipe2 = 'Indiana Pacers'

# Filtrer les matchs où Équipe1 ou Équipe2 sont en Équipe_A
matches = df[((df['Visitor/Neutral'] == equipe1) & (df['Home/Neutral'] == equipe2)) |
             ((df['Visitor/Neutral'] == equipe2) & (df['Home/Neutral'] == equipe1))]

print(matches.head())

      Unnamed: 0       Date Start (ET)     Visitor/Neutral  PTS  \
321           48 2023-12-09      8:30p      Indiana Pacers  109
1061         175 2024-03-24     10:00p      Indiana Pacers  145
1092         206 2024-03-29      7:00p  Los Angeles Lakers   90

            Home/Neutral  PTS.1 Unnamed: 6 Unnamed: 7  Attend.   LOG  \
321   Los Angeles Lakers    123  Box Score        NaN  19021.0   NaN
1061  Los Angeles Lakers    150  Box Score        NaN  18997.0  2:20
1092      Indiana Pacers    109  Box Score        NaN  17274.0  2:06

                      Arena                       Notes
321          T-Mobile Arena  In-Season Tournament Final
1061       Crypto.com Arena                         NaN
1092  Gainbridge Fieldhouse                         NaN

# Création CSV Regular Season

In [85]:
path_file = "data_2023_2024/date_team_result/date_teams_result_match_23_24.csv"

df = pd.read_csv(path_file)

In [86]:
# Convertir la colonne de dates en datetime
df['Date'] = pd.to_datetime(df['Date'], format='%a %b %d %Y')

In [87]:
df.head()

,Unnamed: 0,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,LOG,Arena,Notes
0,0,2023-10-24,7:30p,Los Angeles Lakers,107,Denver Nuggets,119,Box Score,NaN,19842.0,2:17,Ball Arena,NaN
1,1,2023-10-24,10:00p,Phoenix Suns,108,Golden State Warriors,104,Box Score,NaN,18064.0,2:33,Chase Center,NaN
2,2,2023-10-25,7:00p,Houston Rockets,86,Orlando Magic,116,Box Score,NaN,18846.0,2:14,Kia Center,NaN
3,3,2023-10-25,7:00p,Boston Celtics,108,New York Knicks,104,Box Score,NaN,19812.0,2:39,Madison Square Garden (IV),NaN
4,4,2023-10-25,7:00p,Washington Wizards,120,Indiana Pacers,143,Box Score,NaN,16004.0,2:07,Gainbridge Fieldhouse,NaN

In [89]:
# Définir la date limite de la saison régulière
date_end_regular_season = datetime(2024, 4, 16)

df_regular_season = df[df['Date'] < date_end_regular_season]

# Compter le nombre de lignes avec une date avant la date limite
nombre_de_lignes_avant_date_limite = len(df_regular_season)

print(f'Nombre de matchs de saison regulière: {nombre_de_lignes_avant_date_limite}')

Nombre de matchs de saison regulière: 1231

In [90]:
# On sauvegarde le DataFrame
df_regular_season.to_csv("data_2023_2024/date_team_result/date_teams_result_match_23_24_regualr_season.csv")